<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Import head with styles and script-->
<head th:replace="fragments :: head"></head>
<body>
<!--Import navigation bar-->
<div th:replace="fragments :: navibar"></div>
<!--Set variable notes.size()-->
<div th:with="listSize=${#lists.size(notes)}">
    <!--In case the list is empty-->
    <div th:if="${listSize <= 0}">
        <h2>No notes yet
            <a href="/note/create">
                <button class="btn btn-warning my-2 my-sm-0" type="submit">Create</button>
            </a>
        </h2>
    </div>
    <!--Unless the list is empty/ Rendering content-->
    <div th:unless="${listSize <= 0}">
        <h2>My notes - <span th:text="${listSize}"></span>
            <a href="/note/create">
                <button class="btn btn-warning my-2 my-sm-0" type="submit">Create</button>
            </a>
        </h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th class="col-sm-2" scope="col" colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${notes}">
                <td scope="row" th:text="${note.title}"></td>
                <td th:text="${note.content}"></td>
                <td align="center">
                    <a th:href="@{/edit/{id}(id=${note.id})}">
                        <button class="btn btn-outline-success my-2 my-sm-0">Edit</button>
                    </a>
                </td>
                <td align="center">
                    <button type="button" class="btn btn-outline-danger my-2 my-sm-0" data-toggle="modal"
                            data-target="#deleteModal"
                            th:data-note-id="${note.id}" th:data-note-name="${note.title}">Delete
                    </button>
                </td>
                <td align="center">
                    <a>
                        <button class="btn btn-outline-info my-2 my-sm-0" th:href="@{/note/share/{id}(id=${note.id})}"
                                onclick="copyURI(event)">Copy link
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal window with warning for delete operation-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Note will be deleted, are you sure you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="#">Delete anyway</a>
            </div>
        </div>
    </div>
</div>

<script>
<!-- script for copying url button --!>
function copyURI(evt) {
    evt.preventDefault();
    navigator.clipboard.writeText(evt.target.getAttribute('href'));
}

<!-- script for sending id in modal "Delete anyway" button --!>
$('#deleteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var noteId = button.data('note-id') // Extract info from data-* attributes
  var noteName = button.data('note-name')

  var href = '/note/delete?id=' + noteId // link forming

  var modal = $(this)
  modal.find('.modal-body p').text('Are you sure you want to delete note with title - ' + noteName + '?')
  $('.btn-danger', this).attr('href', href)
})




</script>
</body>
</html>